@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

:root {
  --background: #FFF8EE;
  --foreground: #171717;
  --font-secondary: 'Inter', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-main-green: #6EB63C;
  --color-text-gray: #333333;
  --color-main-gray: #3333331A;
  --color-secondary-green: #C7D30A;
  --color-digits-border: #FFF8EE4D;
  --breakpoint-xss: 22.5rem;
  --breakpoint-xs: 36rem;
  --breakpoint-xm: 70rem;
  --breakpoint-xl: 87.5rem;
  --breakpoint-xxl: 100rem;
  --breakpoint-xxxl: 119.8rem;
  --font-inter: 'Inter'; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer base {
  .content-styles ul {
    list-style-type: disc;
    padding-left: 1rem;
  }
}


